includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 6
    paths:
        - app/
        - config/
        - routes/
    tmpDir: storage/framework/cache/phpstan
    excludePaths:
        - ./*/*/FileToReplace.php
        - vendor/
        - storage/
        - resources/
        - database/migrations/*_create_telescope_*.php
    scanFiles:
        - vendor/autoload.php
    databaseMigrationsPath:
        - database/migrations/
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    checkUninitializedProperties: true
    checkExplicitMixedMissingReturn: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - message: '#Call to an undefined method .*::factory\(\)#'
          path: '*'
        - message: '#Call to an undefined method .*::create\(\)#'
          path: '*'
        - message: '#Call to an undefined method .*::where\(\)#'
          path: '*'
        - message: '#Call to an undefined method .*::find\(\)#'
          path: '*'
        - message: '#Call to an undefined method .*::findOrFail\(\)#'
          path: '*'
        - message: '#Call to an undefined static method .*::route\(\)#'
          path: '*'
        - message: '#Call to an undefined static method .*::dispatch\(\)#'
          path: '*'
        - message: '#Access to an undefined property .*::\$[a-zA-Z_]+#'
          path: '*'
        - message: '#Function mix not found#'
          path: '*'
        - message: '#Function auth not found#'
          path: '*'
        - message: '#Function dispatch not found#'
          path: '*'
        - message: '#Method .*::assert[[:upper:]][a-zA-Z]+ not found#'
          path: '*'
        - message: '#Call to an undefined method .*::singleton\(\)#'
          path: '*'
        - message: '#Call to an undefined method .*::bind\(\)#'
          path: '*'