*.iml
Pods/
.symlinks/
.build/
DerivedData/
Runner/GoogleService-Info.plist
*.xcworkspace/xcuserdata/
.DS_Store
Thumbs.db
.idea/
*.moved-aside
*.generated
Flutter/App.framework
Flutter/Flutter.framework
Flutter/Flutter.podspec
Flutter/Generated.xcconfig
Flutter/ephemeral/
Flutter/flutter_export_environment.sh
ServiceAccounts/
